
body{
  background-color: snow;
}

.navber{
  font-family: url("..\\Ubuntu-Medium.ttf");
  /* font-family: ; */
  background-color: rgb(214, 214, 214);
  width: 100vw;
  display: flex;
  height: 4rem;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 1rem;
  
  
}

#userName{
  min-width: 80%;
  min-height: 2rem;
  border: 2px solid black;
  border-radius: 9px;
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
  
}

.container{
  display: flex;
  align-items: center;
  padding-top: 23px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 60vh;
  
  
}

.container h2{
  
  margin: 1.5rem 1rem;


}
button{

  display: inline-block;
  border: 2px solid black;
  min-width: 6rem;
  border-radius: 9px;
  min-height: 2rem;
  margin-top: 1rem;

}

footer{

  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgb(226, 226, 226);
  min-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(158, 158, 158);
  text-transform: uppercase;
  font-size: 11px;

}

.insults{

  width: 90%;
  background-color: rgb(245, 153, 184);
  padding: 10px;
  text-align: center;
  border: 3px solid rgb(255, 43, 78);
  /* margin: 0rem 0rem; */
  margin-bottom: 1.4rem;
  font-family: 'Ubuntu', sans-serif;


}

.display-none{

  display: none;

}